include partials/header
div#content
    h1=event.title
    div#column_left
        div.column_left_content
            div#description
                p=event.comment
            div#host
                if host.picture
                    img(src=host.picture)
                else
                    img(src='/images/placeholder.jpg')
                p
                    h3=host.name
                p
                    host.bio
            div#pictures
                strong="Photos from " + host.name
                br
                span=host.city + ", " + host.zipcode
                    
    div#column_right_sidebar
        div.column_right_content
            div.details
                p
                    h3 When
                    span=event.date
                p
                    h3 Where
                    span=host.city + " " + host.state
                p
                    h3 Cost
                p
                    h3 Table Size
                each guest in event.guests
                    p=guest.name
                
div.spacer
include partials/footer
