extends layout
block prepend content
    .alert.span7
        button.close(data-dismiss='alert') x
        p
        strong
            h3 Hi there!
        | Thank you for using Placemat. The site is currently in beta, so there are some bugs to be worked out.  Perhaps you could help us with this nice 
        a(href='http://www.surveymonkey.com/s/NBSBWKN') survey!
        p
            a.btn.btn-primary.btn(href='http://www.surveymonkey.com/s/NBSBWKN') Take the Survey »
    .row
        form(method="POST", enctype="multipart/form-data")
            .span8
                h2 #{event.title}
                if(event.picture)
                    img(src="#{event.picture}")
                else
                    img(src='/graphics/770x550')
                if(user && event._creator._id == user._id)
                    h3 Choose a different picture
                    input(type="file", name="picture")
                    input(type='Submit', value='Save')
                        Save
            .span4
                h2
                    a(href='/user/' + event._creator._id) #{event._creator.name}
                p
                    a(href= '/event?city=' + event.city ) #{event.city}, #{event.state}
                ul.thumbnails
                    li.span3
                        .thumbnail
                            if(event._creator.picture)
                                img(src=event._creator.picture, width='260px', height='260px', alt='')
                            else
                                img(src='/graphics/260x260', alt='')
                            .caption
                                h4 Superchef Extraordinaire
                                p
                                    | #{event._creator.bio.substring(0,140)}
                                    a(href='/user/' + event._creator._id) More →
                                p
                                    - if (!user)
                                        a.btn.btn-primary(href='/event/' + event._id + '/join') Login and Join Table
                                    - else if (user && event.guests.indexOf(user.toString()) != -1)
                                        a.btn.btn-primary(href='/event/' + event._id) Joined
                                    - else
                                        a.btn.btn-primary(href='/event/' + event._id + '/join') Join Table
                                    a.btn(href='/user/' + event._creator._id) Contact Chef
                        div
                            h3
                                - if(!event.guests) event.guests = []
                                span.badge.badge-info #{event.guests.length}
                                | attending
                            p
                                span.badge #{event.seats - event.guests.length}
                                | seats left
                            each guest in event.guests
                                img.rightmargin(width="40", height="40", src=guest._user.picture)
                                if(user && event._creator._id.equals(user._id))
                                    span=guest.approval
                                    br
                                else if(user && guest._user._id.equals(user._id))
                                    span=guest.approval
                                    br
                            - for (var i=0; i < event.seats - event.guests.length; i++)
                                img.rightmargin(src='/graphics/40x40')
        .span12
            .span8
                h3 Details
                p
                    #{event.date} #{event.time}
                p
                    #{event.city}, #{event.state}
                p
                    #{event.comment}