include partials/header
    div.event-left
        div 
            h3.title=event.title
        div.column_left_content
            div#description
                p=event.comment
            div#host
                if (host && host.picture)
                    img(src=host.picture)
                else
                    img(src='/graphics/placeholder.jpg')
                p
                    h3
                        a(href='/user/' + host._id)=host.name
                p
                    host.bio
            div#pictures
                strong="Photos from " + host.name
                br
                span=host.city + ", " + host.zipcode
                    
    div.event-right
        div.column_right_content
            div.details
                div.item
                    h3 When
                    span=event.date
                div.item
                    h3 Where
                    span=host.city + " " + host.state
                div.item
                    h3 Cost
                div.item
                    h3 Table Size

                form(method="POST", action="/event/" + event._id + "/add")
                            input.join.button(type='Submit', value='Join now')
                                Join now
                each guest in event.guests
                    p=guest.name
                
div.spacer
include partials/footer
