extends layout
block prepend content

    //
         Main hero unit for a primary marketing message or call to action 
    .hero-unit
        h1 Placemat
        p
            | Share a seat at your dinner or try out some of your neighbors' culinary creations.
            br
            | Placemat is currently in beta.
        p
            a.btn.btn-primary.btn-large(href='/about') Learn more »
    hr
    #myCarousel.carousel.slide
        //
             Carousel items 
        .carousel-inner
            each event, index in events
                - if (event._creator==undefined) event._creator = {}
                div(class= (index == 0) ? 'item active' : 'item')
                    //
                         Feature component 
                    .row
                        .span8
                            h2
                                a(href='/event/' + event._id) #{event.title}
                            if(event.picture)
                                img(src=event.picture, width="770px", height="550px")
                            else
                                img(src='/graphics/770x550')
                        .span4
                            h2
                                a(href='/user/' + event._creator._id) #{(event._creator) ? event._creator.name : "Nameless"}
                            p
                                a(href='/event?city=' + event.city) #{event.city}, #{event.state}
                            ul.thumbnails
                                li.span3
                                    .thumbnail
                                        if(event._creator.picture)
                                            img(src=event._creator.picture, alt='')
                                        else
                                            img(src='/graphics/260x260', alt='')
                                        .caption
                                            h4 #{event._creator.name}
                                            p
                                                #{event._creator.bio.substring(0,140)}
                                                a(href='/user/' + event._creator._id) More →
                                            p
                                                a.btn.btn-primary(href='/event/' + event._id) Join Table
                                                a.btn(href='/user/' + event._creator._id) Contact Chef
                                    div
                                        h3
                                            - if(!event.guests) event.guests = []
                                            span.badge.badge-info #{event.guests.length}
                                            | attending
                                        p
                                            span.badge #{event.seats - event.guests.length}
                                            | seats left
                                        each guest in event.guests
                                            img.rightmargin(width="40", height="40", src=guest._user.picture)
                                        - for (var i=0; i < event.seats - event.guests.length; i++)
                                            img.rightmargin(src='/graphics/40x40')
        a.carousel-control.left(href='#myCarousel', data-slide='prev') ‹
        a.carousel-control.right(href='#myCarousel', data-slide='next') ›
    hr
    .hero-unit
        h1 Want to Host A Meal?
        p Hop on over to the Event Creation page. It's easy.
        p
            a.btn.btn-primary.btn-large(href="/event") Get started »
    hr
    .hero-unit
        h1 Help us out
        p We're still improving this service.  Let us know what killer features you want to see.
        p
            a.btn.btn-primary.btn-large(href='http://www.surveymonkey.com/s/NBSBWKN') Take a survey »
    hr