extends layout
block prepend content

    //
         Main hero unit for a primary marketing message or call to action 
    .hero-unit
        h1 Placemat
        p
            | Little blurb about what we do here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        p
            a.btn.btn-primary.btn-large(href='/about') Learn more »
    hr
    #myCarousel.carousel.slide
        //
             Carousel items 
        .carousel-inner
            each event, index in events
                - if (event._creator==undefined) event._creator = {}
                div(class= 'item ' + (index == 0) ? 'active' : '')
                    //
                         Feature component 
                    .row
                        .span8
                            h2
                                a(href='/event/' + event._id) #{event.title}
                            img(src='/graphics/770x550')
                        .span4
                            h2
                                a(href='/user/' + event._creator._id) #{(event._creator) ? event._creator.name : "Nameless"}
                            p
                                a(href='/event?city=' + event.city) #{event.city}, #{event.state}
                            ul.thumbnails
                                li.span3
                                    .thumbnail
                                        img(src='/graphics/260x260', alt='')
                                        .caption
                                            h4 #{event._creator.name}
                                            p
                                                #{event._creator.bio.substring(0,140)}
                                                a(href='/user/' + event._creator._id) More →
                                            p
                                                a.btn.btn-primary(href='/event/' + event._id) Join Table
                                                a.btn(href='/user/' + event._creator._id) Contact Chef
                                    div
                                        h3
                                            - if(!event._guests) event._guests = []
                                            span.badge.badge-info #{event._guests.length}
                                            | attending
                                        p
                                            span.badge #{event.seats - event._guests.length}
                                            | seats left
                                        each guest in event._guests
                                            img.rightmargin(src=guest.picture)
                                        - for (var i=0; i < event.seats - event._guests.length; i++)
                                            img.rightmargin(src='/graphics/40x40')
        a.carousel-control.left(href='#myCarousel', data-slide='prev') ‹
        a.carousel-control.right(href='#myCarousel', data-slide='next') ›
    hr
    .row
        h1.span12 Browse dinners
        .span4
            img(src='/graphics/370x260')
            h2 Super neat
            p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        .span4
            img(src='/graphics/370x260')
            h2 Really fun
            p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        .span4
            img(src='/graphics/370x260')
            h2
                a(href='http://www.surveymonkey.com/s/NBSBWKN') Take a survey!
            p
                | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    hr
    .hero-unit
        h1 Want to Host A Meal?
        p All you have to do is sign up blah blah. It's easy.
        p
            a.btn.btn-primary.btn-large Get started »
    hr
    .hero-unit
        h1 Help us out
        p Take a survey to blah blah.
        p
            a.btn.btn-primary.btn-large(href='http://www.surveymonkey.com/s/NBSBWKN') Take the survey »
    hr