extends layout
block prepend content
    form(method="POST")
        input(type="hidden", value=person.name, name="name")
        div.yui3-g
            div.yui3-u-1
                div.title
                    h1= person.name
            div.yui3-u-7-12
                div.event_left
                    div.column_left_content
                        div.photo_container
                            div.photo
                                if(person && person.picture)
                                    img(src=person.picture)
                                    if (edit=="true") 
                                        span edit
                                else
                                    img(src='')
                        div.location
                            p
                                h3 Location
                                br
                                if (edit=="true") 
                                    p City
                                        input(type="text", value=person.city, name="city", placeholder="city")
                                    p State
                                        input(type="text", value=person.state, name="state", placeholder="State")
                                    p Zip code
                                        input(type="text", value=person.zipcode, name="zipcode", placeholder="zip")
                                else
                                    span=person.city + ", " + person.state + " " + person.zipcode

                        div.contact
                            p
                                h3 Contact
                                br
                                if (edit=="true")
                                    p Phone
                                        input(type="text", value=person.phone, name="phone", placeholder="888-999-0000")
                                    br
                                    input(type="checkbox", name="notify", value="sms", checked=(person.notify.indexOf("sms")!=-1))
                                    span SMS Notifications
                                else
                                    span=person.phone
                            p
                                if (edit=="true")
                                    p Email
                                        input(type="text", value=person.email, name="email", placeholder="name@domain.com")
                                    br
                                    input(type="checkbox", name="notify", value="email", checked=(person.notify.indexOf("email")!=-1))
                                    span Email notifications
                                else
                                    span=person.phone
            div.yui3-u-1-24
            div.yui3-u-3-8
                div.event_right
                    div.column_right_content
                        div.bio
                            h3 About
                            if(edit=="true")
                                textarea(name="bio", rows="3", placeholder="Tell us about yourself")= person.bio
                            else
                                p=person.bio
                        div.photos
                            h3 Photos
                            if (edit=="true") 
                                span edit
                        div.events
                            h2 
                                a(href="/event?creator=" + person._id)
                                    if(edit=="true")
                                        a(href="/event?creator=" + person._id) Your events
                                    else
                                        a(href="/event?creator=" + person._id) See Events hosted by this person
                            h2 
                                a(href="/event?creator=" + person._id)
                                    a(href="/event") View Local Events
                        if(edit=="true")
                            input(type='Submit', value='Save')
                                Save
