extends layout
block prepend content
    if(missing)
        .alert
            h3
                | You must fill in the following fields: #{missing}
    form(method="POST", enctype="multipart/form-data")
        input(type="hidden", value=data.name, name="name")
        .row
            .span8
                div.location
                    p
                        h3 Location
                        br
                        if (edit=="true") 
                            p Address (to be given to confirmed guests)
                            input(type="text", value=data.address, name="address", placeholder="address")
                            p City
                                input(type="text", value=data.city, name="city", placeholder="city")
                            p State
                                input(type="text", value=data.state, name="state", placeholder="State")
                            p Zip code
                                input(type="text", value=data.zipcode, name="zipcode", placeholder="zip")
                        else
                            span=data.city + ", " + data.state + " " + data.zipcode

                div.contact
                    p
                        h3 Contact
                        br
                        if (edit=="true")
                            p Phone
                                input(type="text", value=data.phone, name="phone", placeholder="888-999-0000")
                            br
                            input(type="checkbox", name="notify", value="sms", checked=(data.notify.indexOf("sms")!=-1))
                            span SMS Notifications
                        else
                            span=data.phone
                    p
                        if (edit=="true")
                            p Email (Where you will receive notifications)
                                input(type="text", value=data.email, name="email", placeholder="name@domain.com")
                            
                        else
                            span=data.phone
                div.photos
                    h3 Photos
                    if (edit=="true") 
                        span edit
                div.events
                    h2 
                        a(href="/events?creator=" + data._id)
                            if(edit=="true")
                                a(href="/events?creator=" + data._id) Your events
                            else
                                a(href="/events?creator=" + data._id) See Events hosted by this user
                if(edit=="true")
                    input(type='Submit', value='Save')
                        Save
            .span4
                h2
                    a(href='/user/' + data._id) #{data.name}
                p
                    | #{data.city}, #{data.state}, #{data.zipcode}
                .thumbnail
                    if(data.picture)
                        img(src=data.picture, width='260px', height='260px', alt='')
                    else
                        img(src='/graphics/260x260', alt='')
                    if (edit=="true")
                        h3 Change Picture
                            input(type="file", name="picture")
                        h3 Tagline
                            input(type="text", value=data.tagline, name="tagline", placeholder="Yourself in a few words")
                        h3 Bio
                            textarea(name="bio", class="input-xlarge", rows="3", placeholder="Tell us about yourself")= data.bio
                        br
                        a.btn(href='/user/' + data._id, target="_blank") Preview
                    else
                        .caption
                            h4 #{data.tagline}
                            p
                                | #{data.bio}
