extends layout
block prepend content
    form(method="POST", enctype="multipart/form-data")
        input(type="hidden", value=person.name, name="name")
        .row
            .span8
                div.location
                    p
                        h3 Location
                        br
                        if (edit=="true") 
                            p City
                                input(type="text", value=person.city, name="city", placeholder="city")
                            p State
                                input(type="text", value=person.state, name="state", placeholder="State")
                            p Zip code
                                input(type="text", value=person.zipcode, name="zipcode", placeholder="zip")
                        else
                            span=person.city + ", " + person.state + " " + person.zipcode

                div.contact
                    p
                        h3 Contact
                        br
                        if (edit=="true")
                            p Phone
                                input(type="text", value=person.phone, name="phone", placeholder="888-999-0000")
                            br
                            input(type="checkbox", name="notify", value="sms", checked=(person.notify.indexOf("sms")!=-1))
                            span SMS Notifications
                        else
                            span=person.phone
                    p
                        if (edit=="true")
                            p Email
                                input(type="text", value=person.email, name="email", placeholder="name@domain.com")
                            br
                            input(type="checkbox", name="notify", value="email", checked=(person.notify.indexOf("email")!=-1))
                            span Email notifications
                        else
                            span=person.phone
                div.photos
                    h3 Photos
                    if (edit=="true") 
                        span edit
                div.events
                    h2 
                        a(href="/events?creator=" + person._id)
                            if(edit=="true")
                                a(href="/events?creator=" + person._id) Your events
                            else
                                a(href="/events?creator=" + person._id) See Events hosted by this person
                if(edit=="true")
                    input(type='Submit', value='Save')
                        Save
            .span4
                h2
                    a(href='/user/' + person._id) #{person.name}
                p
                    | #{person.city}, #{person.state}, #{person.zipcode}
                .thumbnail
                    if(person.picture)
                        img(src=person.picture, width='260px', height='260px', alt='')
                    else
                        img(src='/graphics/260x260', alt='')
                    if (edit=="true")
                        h3 Change Picture
                            input(type="file", name="picture")
                        h3 Tagline
                            input(type="text", value=person.tagline, name="tagline", placeholder="Yourself in a few words")
                        h3 Bio
                            textarea(name="bio", class="input-xlarge", rows="3", placeholder="Tell us about yourself")= person.bio
                        br
                        a.btn(href='/user/' + person._id, target="_blank") Preview
                    else
                        .caption
                            h4 #{person.tagline}
                            p
                                | #{person.bio}
