include partials/header
div#content
    div#column_left
        div.column_left_content
            div.photo_container
                div.photo
                    if(person && person.picture)
                        img(src=person.picture)
                        if (edit) 
                            span edit
                    else
                        img(src='')
                div.name
                    h2= person.name
                    if (edit) 
                        span edit
            div.location
                strong Location
                br
                span=person.city + ", " + person.zipcode
                if (edit) 
                    span edit
            div.contact
                strong Contact
                br
                span=person.phone
                if (edit) 
                    span edit
                    
    div#column_right
        div.column_right_content
            div.bio
                if person.bio
                    p=person.bio
                    if (edit) 
                        span edit
                else
                    p He's very good!
            div.photos
                h2 Photos go here
                if (edit) 
                    span edit
            div.events
                h2 
                    a(href="/event?creator=" + person._id)
                        Find events hosted by this person
                
div.spacer
include partials/footer
